<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{convDetailCtrl.conversation.subject}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="msg in convDetailCtrl.conversation.messages">
        <p><strong><span style="color:#F23800">{{msg.creator.firstname}}</span></strong></p>
        <pre><span style="color:#000000">{{msg.content}}</span></pre>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
