<ion-view view-title="Emploi du temps">
    <ion-content>
        <ion-list>
            <item class="item-remove-animate item-icon-right" ng-repeat="course in schedule">
                <a class="item">
                    {{course.matter}}
                    <h2>{{course.name}}</h2>
                    <h2>{{course.start}}</h2>
                    <h2>{{course.end}}</h2>
                    <p>{{course.durantion}}</p>
                </a>
            </item>
        </ion-list>
    </ion-content>
</ion-view>

