<ion-view view-title="Chats" class="chats" ng-init="conversationCtrl.load()">
    <ion-content>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right conv-list" ng-repeat="conversation in conversationCtrl.conversations" type="item-text-wrap" href="#/tab/chats/{{conversation.id}}">
          <img ng-src="img/max.png"> <!--{{conversation.creator_id.face}}-->
          <span style="margin-left:60px;">
            <span ng-repeat="participant in conversation.participants">
              <span style="font-size: 16px;"> {{participant.firstname}} | </span>
            </span>
            <p style="margin-left: 70px;">{{conversation.subject}}</p>
          </span>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
      <div class="conv-button">
        <a class="button icon-right ion-chevron-right button-assertive" href="#/tab/new/conversation">Nouvelle conversation</a>
      </div>
    </ion-content>
</ion-view>
